<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }} - CJ Ting's Blog</title>
  <meta name="author" content="{{ site.author.name }}">
  <meta name="description" content="{{ page.desc }}">
  <meta charset="utf-8" />
  <link href='/assets/themes/avia/bundle.min.css' rel="stylesheet" media="all">
</head>

<body>
<header class="header">
  <a href="/">
    <img class="header__avatar" src="/assets/images/avatar.png">
  </a>
  <div class="header__search">
      <img src="/assets/themes/avia/search.png">
    <input type="text" id="search-input" placeholder="Search for posts">
    <ul class="header__search__box" id="search-box">
    </ul>
  </div>

  <nav class="header__nav">
    {% if page.key == "index" %}
      {% assign index_class = "active" %}
    {% endif %}
    {% if page.key == "apps" %}
      {% assign apps_class = "active" %}
    {% endif %}
    {% if page.key == "about" %}
      {% assign about_class = "active" %}
    {% endif %}

    <a href="/" class={{ index_class }}>Posts</a>
    <a href="javascript:void(0)" class="{{ apps_class }} disabled">Apps</a>
    <a href="https://github.com/fate-lovely" target="_blank">Github</a>
    <a href="/about.html" class={{ about_class }}>About</a>
  </nav>

</header>

{{ content }}

<script src="/assets/themes/avia/bundle.min.js"></script>
<script src="/assets/js/main.js"></script>
{% include JB/analytics %}
</body>
</html>
