<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }} - CJ Ting's Blog</title>
  <meta name="author" content="{{ site.author.name }}">
  <meta name="description" content="{{ page.desc | default: page.title }}">
  <meta charset="utf-8" />
  <link href='/assets/themes/avia/bundle.min.css' rel="stylesheet" media="all">
  <link rel="icon" href="data:;base64,=">
</head>
<body class="page-{{ page.page || default: 'default' }}">

{{ content }}

<script src="/assets/themes/avia/bundle.min.js"></script>
<script src="/assets/js/main.js"></script>
{% include JB/analytics %}
</body>
</html>
