<div class="post__content">
  {% assign default_bg = "http://ww2.sinaimg.cn/large/9b85365dgw1f7brwadugzj21kw11x1kx.jpg" %}
  <header class="post__header" data-cover="{{ page.cover | default: default_bg; }}">
    <a href="/">
      HOME
    </a>
  </header>

  <div class="post__body">
    <h1 class="post__title">
        {{ page.title }}
        {{ page.key }}
    </h1>

    <div class="post__meta">
      <div class='date'>
        {{ page.date | date: "%b.%d.%Y"}}
      </div>

      <div class="tags">
        {% for tag in page.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="markdown-body">
      {{ content }}
    </div>

    <div class="post__comments">
      {% include JB/comments %}
    </div>
  </div>
</div>
