/*
* @Author: CJ Ting
* @Date:   2016-06-27 22:22:28
* @Last Modified by:   CJ Ting
* @Last Modified time: 2016-06-28 07:40:13
*/

@import "../../vendors/normalize.css"
@import "../../vendors/code_highlight/tomorrow.css"
@import "../../vendors/magnific-popup.css"
@import "./markdown.css"

$main-color = #666
$main-black = #444A59
$active = #0BB304
$li-active = #58975F
$bg = #e2e2e2
$border-gray = #E2E2E2
$main-blue = #4A90E2

$font-family = "Open Sans", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑" , SimSun, "宋体", Heiti, "黑体", sans-serif

a
  text-decoration: none

// for image popups
.u-cursor-pointer
  cursor: pointer

.u-cursor-disabled
  cursor: not-allowed

html
  background: $bg
  color: $main-color
  font-size: 14px
  font-family: $font-family
  padding: 0 1px

body
  height: 100vh
  display: flex
  flex-direction: column

pre code
  overflow-x: scroll !important

.copy-code-btn
  cursor: pointer
  position: absolute
  top: 0
  right: 0
  color: $active

.highlight
  position: relative

post-container()
  padding: 30px 20px
  background: white
  box-shadow: 0 2px 10px #9B9B9B
  max-width: 720px
  box-sizing: border-box
  margin: auto

post()
  .post__title
    display: block
    margin-bottom: 30px
    font-size: 20px
    color: $main-black
    font-weight: 600
    line-height: 24px
    &:hover
      color: $main-blue
  .post__meta
    display: flex
    margin: 20px 0
    font-size: 12px
    .date
      color: #9B9B9B
      margin-left: auto
      padding-right: 25px
      border-right: solid 1px $border-gray
    .tags
      margin-left: 25px
      color: #FF5916

@require "./header.styl"
@require "./page-about.styl"
@require "./page-index.styl"

.page-post
  post-container()
  post()
  width: 100%
  max-width: 800px
  font-size: 16px
  line-height: 40px

.post__title
  font-size: 24px
  font-weight: 400

.post__comments
  margin-top: 40px
  padding-top: 40px
  border-top: solid 1px $border-gray
