.post__header
  height: 65vh
  min-height: 180px
  background: #222 no-repeat center center
  background-size: cover
  margin-bottom: 5rem
  > a
    padding: 0 15px
    border: solid 2px #eee
    color: #fff
    text-decoration: none
    box-sizing: border-box
    text-align: center
    margin: 30px 0 0 30px
    border-radius: 3px
    transition: all 0.5s ease
    float: left
    &:hover
      background: white
      color: black

.post__content
  line-height: 40px
  flex-shrink: 0

.post__body
  max-width: 800px
  padding: 0 20px
  margin: auto

.post__title
  color: $main-black
  font-weight: 600
  font-size: 2rem
  text-align: center
  margin: 0

.post__meta
  post-meta()

.post__comments
  margin-top: 40px
  padding-top: 40px
  border-top: solid 1px $border-gray

@media (max-width: 750px)
  .post__header
    height: 40vh
