/*
* @Author: CJ Ting
* @Date:   2016-06-27 22:22:28
* @Last Modified by:   CJ Ting
* @Last Modified time: 2016-06-28 07:40:13
*/

$main-color = #666
$main-black = #444A59
$active = #0BB304
$li-active = #58975F
$bg = #e2e2e2
$border-gray = #E2E2E2
$main-blue = #4A90E2

$font-family = "Open Sans", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑" , SimSun, "宋体", Heiti, "黑体", sans-serif

a
  text-decoration: none

// for image popups
.u-cursor-zoom-in
  cursor: zoom-in

.u-cursor-disabled
  cursor: not-allowed

html
  // background: $bg
  color: $main-color
  font-size: 16px
  font-family: $font-family
  padding: 0 1px

body
  height: 100vh
  display: flex
  flex-direction: column

// customize markdown
pre
  background: #f9f9f9
  padding: 20px
  border-radius: 5px
  position: relative
code.highlighter-rouge
  padding: 4px 10px
  background: #ececec
  border-radius: 5px
  white-space: nowrap

.markdown-body h2
  font-size: 1.6rem
.markdown-body h3
  font-size: 1.5rem
.markdown-body h4
  font-size: 1.4rem
.markdown-body h5,h6
  font-size: 1.3rem

.copy-code-btn
  cursor: pointer
  position: absolute
  top: 0
  right: 15px
  color: $active

post-container()
  padding: 30px 20px
  background: white
  box-shadow: 0 2px 10px #9B9B9B
  border-radius: 5px
  max-width: 720px
  box-sizing: border-box
  margin: auto

post-meta()
  display: flex
  margin: 20px 0
  font-size: 12px
  .date
    color: #9B9B9B
    margin-left: auto
    padding-right: 25px
    border-right: solid 1px $border-gray
  .tags
    margin-left: 25px
    color: #FF5916

@require "./header.styl"
@require "./page-about.styl"
@require "./page-index.styl"
@require "./page-post.styl"

