body{
	margin:0;
	font-family: sans-serif;
}

header{
	box-sizing: border-box;
	width:100%;
	background: white;
	padding:10px;
}

header h1{
	margin-left: 100px;
	color: #4FBFA8;
	font-size: 40px;
	display: inline-block;
	margin-bottom: 0;
}

header a{
	text-decoration: none;
	font-size: 25px;
	color: #4FBFA8;
	opacity: 0.6;
	float: right;
	margin-right: 100px;
	margin-top: 40px;
}

header h3{
	margin:0;
	text-align: center;
}

header a:hover{
	border-bottom: solid 2px gray;
	opacity: 1;
}

header span{
	color: #f99;
}


.apps_container{
	background-color: #cde6c7;
	height:600px;
	padding-top:20px;
}

.container{
	width:1000px;
	margin:0px auto;
	padding-top:20px;
	padding-bottom: 40px;
	border: solid 1px white;
}




.mosi{
	background-color: pink;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.mosi .name{
	padding-top: 20px;
	text-align: center;
	color:white;
	font-size: 30px;
	margin-bottom: 15px;
	margin-top: 0;
}


.mosi .description{
	font-size: 20px;
	margin: 0 10px;
	line-height: 30px;
}



.mosi img{
	width:45%;
	margin-top:-30px;
	margin-left: 150px;
}

