@charset "UTF-8";
.highlight pre code {
  overflow: auto;
  font-size: 0.8em; }

img {
  max-width: 90%;
  display: block;
  margin: 0 20px; }

strong {
  color: #E84B50; }

em {
  color: #EB6E25; }

a {
  text-decoration: none;
  color: #6599D4; }

body {
  margin: 0;
  font-family: "Hiragino Sans GB", Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  font-size: 18px; }

.right {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: #6BD1B0; }
  .right img {
    width: 100px;
    display: block;
    margin: 10% auto; }
  .right .my-name {
    text-align: center;
    color: #6599D4;
    font-size: 2em; }
  .right nav {
    margin-top: 20%;
    padding: 0 30%;
    font-size: 1.3em;
    color: white; }
    .right nav li {
      list-style: none;
      text-align: center; }
      .right nav li a {
        color: white;
        text-decoration: none; }
        .right nav li a:hover {
          color: #6599D4; }
  .right footer {
    color: #8B8989;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0; }

.left {
  margin-right: 250px; }
  .left .brand {
    text-align: right;
    padding: 20px;
    margin: 0;
    display: none;
    background: #6BD1B0;
    color: white; }
  .left .container {
    width: 90%;
    max-width: 700px;
    padding: 0 50px;
    margin: 0 auto; }
  .left .list-container {
    padding: 20px; }
    .left .list-container .post {
      margin-bottom: 100px; }
      .left .list-container .post .title {
        text-align: center;
        font-size: 1.5em; }
        .left .list-container .post .title a {
          text-decoration: none;
          color: black; }
      .left .list-container .post .meta {
        *zoom: 1;
        margin-bottom: 15px; }
        .left .list-container .post .meta:before, .left .list-container .post .meta:after {
          display: table;
          content: ""; }
        .left .list-container .post .meta:after {
          clear: both;
          height: 0;
          visibility: hidden; }
        .left .list-container .post .meta .date {
          float: right; }
        .left .list-container .post .meta .tags {
          float: left; }
          .left .list-container .post .meta .tags .tag {
            color: #6599D4;
            font-weight: bold; }
      .left .list-container .post .excerpt {
        line-height: 150%;
        font-size: 20px; }
  .left .buttons {
    width: 90%;
    margin: 0 5%;
    margin-bottom: 10%;
    *zoom: 1; }
    .left .buttons:before, .left .buttons:after {
      display: table;
      content: ""; }
    .left .buttons:after {
      clear: both;
      height: 0;
      visibility: hidden; }
    .left .buttons .prev, .left .buttons .next {
      display: block;
      cursor: pointer;
      color: black;
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding: 10px;
      border: solid 1px #eee;
      border-radius: 3px;
      text-align: center;
      text-decoration: none; }
      .left .buttons .prev.disabled, .left .buttons .next.disabled {
        color: #aaa; }
      .left .buttons .prev:hover, .left .buttons .next:hover {
        background: #6BD1B0; }
  .left .post-container .title {
    text-align: center; }
  .left .post-container .content {
    font-size: 20px;
    line-height: 180%; }
  .left .post-container .post-info .tags {
    font-weight: bold;
    color: #6BD1B0; }

@media screen and (max-width: 1000px) {
  .right {
    display: none; }

  .left {
    margin-right: 0; }
    .left .brand {
      display: block; }
    .left .container {
      margin: 0;
      padding: 5%; } }

/*# sourceMappingURL=index.css.map */
