.progress-bar {
	background-color: #fff;
	height: 20px;
	padding: 1px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	-webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;	          
}


.progress-bar span {
	display:block;
	height: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-transition: width 20s ease-in-out;
    -moz-transition: width 20 ease-in-out;
    -ms-transition: width 20s ease-in-out;
    -o-transition: width 20s ease-in-out;
    transition: width 20s linear;
    background-color: #34c2e3;
    -webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;			
	background-image: -webkit-gradient(linear, left top, right bottom,
						color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
						color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
						to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);            
	
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;       		
}


@-webkit-keyframes animate-stripes { 
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
@keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}


body{
	background-color: #fedcbd;
	margin:0;
	font-family: "Overlock", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

#container{
	width:1080px;
	margin:0 auto;
	border:solid 2px #f69;
	display: none;
}

.gameArea{
	box-sizing: border-box;
	width:700px;
	display: inline-block;
	border-right: solid 2px #1d953f; 
}
canvas{
	margin:0 auto;
	margin-top:5px;
	margin-bottom: 20px;
	opacity: 0.4;
}
canvas:hover{
	cursor:pointer;
}



.infoArea{
	display: inline-block;
	width:350px;
	box-sizing:border-box;
	vertical-align: top;
}

header{
	margin:0 auto;
	font-family:Comic Sans MS;
	text-align:center;
	border-bottom: solid 2px gray;
	float:left;
	width:99%;
}
header h1{
	text-shadow:5px 5px 5px gray;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	color:white;
	cursor: default;
	-webkit-transition: color 1s linear;
	-moz-transition: color 1s linear;
	-ms-transition: color 1s linear;
	-o-transition: color 1s linear;
	transition: color 1s linear;
}
header h1:hover{
	color:#f69;
}

header img{
	width:110px;
	vertical-align: top;
	float:left;
	margin-left:10px;
}



.description{
	float:left;
	padding:20px;
	font-size: 25px;
	text-align: center;
}

.description h3{
	color:#34c2e3;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.5em;
	width:100%;
}

.description  p{
	margin-top: 0;
	line-height: 40px;
	border: solid 2px pink;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
}


#play{
	width:300px;
	margin-left: 48px;
	margin-right: 48px;
	color:#f69;
	background-color:white;
	font-size:20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
}

#play:hover{
	border:solid 2px gray;
}

#play:disabled{
	background-color: #ccc;
	cursor: default;
	border: solid 2px gray;
}


.gameControl {
	display:none;
	background-color:rgba(0,0,0,0.5);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	font-family:Trebuchet MS;
}
.gameControl img{
	position:absolute;
	width:500px;
	top:100px;
	left:400px;
	z-index:2;
	opacity:1;
	border:solid 2px white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.gameControl p{
	position:absolute;
	top:100px;
	left:500px;
	z-index:3;
	color:#63434f;
	font-size:30px;
}

.gameControl button{
	font-size:20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:white;
	color:#63434f;
	cursor:pointer;
	position:absolute;
	top:400px;
	left:750px;
	z-index:3;
}
.gameControl button:hover{
	border:solid 3px #1d953f;
}

.gameSuccess p{
	left:440px;
}

.gameSuccess button{
	top:250px;
	left:580px;
}

#loader {
  width: 400px;
  height: 47px;
  background-color: #a3cf62;
  top: 30%;
  left: 30%;
  position: absolute;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05); 
}

#loader:after {
  border-radius: 100px;
  content: "";
  position: absolute;
  background-color: white;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 360px;
  -webkit-animation: slide 2s linear infinite;
  -o-animation: slide 2s linear infinite;
  animation: slide 2s linear infinite;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
}

#loader p{
	text-align: center;
	color:white;
	margin: 0;
	margin-top:10px; 
	font-size: 23px;
}

@-webkit-keyframes slide {
  0% {
    right: 360px;
    left: 2px; }

  5% {
    left: 2px;
     }

  50% {
    right: 2px;
    left: 360px; }

  55% {
    right: 2px; }

  100% {
    right: 360px;
    left: 2px; } 
}

@-moz-keyframes slide {
  0% {
    right: 360px;
    left: 2px; }

  5% {
    left: 2px; }

  50% {
    right: 2px;
    left: 360px; }

  55% {
    right: 2px; }

  100% {
    right: 360px;
    left: 2px; } 
}

@keyframes slide {
  0% {
    right: 360px;
    left: 2px; }

  5% {
    left: 2px; }

  50% {
    right: 2px;
    left: 360px; }

  55% {
    right: 2px; }

  100% {
    right: 360px;
    left: 2px; } 
}
